$primary:                   rgba(32, 107, 168, 1.00);
$btnprimary:                rgb(242, 239, 239);
$clrCardHeader:             rgb(51, 220, 215);
$secondary:                 rgba(57, 175, 203, 1.00) !default;
$orange:                    rgb(51, 220, 215);
$green:                     rgb(170, 206, 118);
$white:                     white;
$black:                     black;
$dark:                      rgba(7, 16, 62, 1.00);
$shadow:                    rgb(170, 170, 170);
$background1:               rgb(219, 227, 238);
$background2:               rgb(95, 135, 167);
$auroraGrey:                rgb(181, 183, 186);
$blue:                      rgba(12, 28, 80, 1.00);
$danger:                    rgb(220, 53, 69);
$warning:                   rgb(255, 193, 7);

//Fontawesome Variables
$fa-font-path: "../webfonts";

$clrCardHeader:             $green;
$clrBorder:                 $dark;
$tableHeaderHeight:         25px;
$tableHeaderFontSize:       14px;
$tableBodyFontSize:         12px;
$tableHeaderHeight:         25px;
$tableHeaderFontSize:       14px;
$tableBodyFontSize:         12px;

// Login Logo Colors
$moonstone: rgba(57, 175, 203, 1.00);
$azul: rgba(32, 107, 168, 1.00);
$penn-blue: rgba(7, 16, 62, 1.00);
$penn-blue-2: rgba(12, 28, 80, 1.00);
$turquoise: rgba(72, 215, 190, 1.00);

// Aurora Logo Colors
$eminence:              rgba(99, 59, 132, 1.00);
$dark-spring-green:     rgba(34, 111, 76, 1.00);
$light-spring-green:    rgba(100, 170, 138, 1.00);
$french-gray:           rgba(181, 183, 186, 1.00);
$dark-gray:             rgb(108, 109, 110);
$platinum:              rgba(226, 226, 224, 1.00);
$russian-violet:        rgba(66, 39, 87, 1.00);
